.plank-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 90%;
	margin: 0 auto;
}

@media (max-width: 1000px) {
	.plank-container {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
}

.services,
.cycles,
.food {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.services img,
.food img,
.cycles img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.services {
	font-size: 5vw;
	transform: translate(0%, -2%);
	width: 40%;
}

.services:hover {
	transform: scale(1.05);
	cursor: pointer;
}

@media (max-width: 1000px) {
	.services {
		font-size: 6vw;
		width: 60%;
	}
}

.food {
	font-size: 4vw;
	transform: translate(50%, -2%);
	z-index: 2;
	width: 30%;
}

.food:hover {
	transform: scale(1.05) translate(50%, -2%);
	cursor: pointer;
}

@media (max-width: 1000px) {
	.food {
		font-size: 5vw;
		transform: translate(0%, -50%);
		width: 60%;
	}

	.food:hover {
		transform: scale(1.05) translate(0%, -50%);
	}
}

.cycles {
	font-size: 4vw;
	transform: translate(-50%, -2%);
	z-index: 2;
	width: 30%;
}

.cycles:hover {
	transform: scale(1.05) translate(-50%, -2%);
	cursor: pointer;
}

@media (max-width: 1000px) {
	.cycles {
		font-size: 5vw;
		transform: translate(0%, -95%);
		width: 63%;
	}

	.cycles:hover {
		transform: scale(1.05) translate(0%, -95%);
	}
}

.services h1,
.cycles h1,
.food h1 {
	transform: translate(0%, -140%);
	font-weight: 300;
	color: #fff;
}

@media (max-width: 1000px) {
	.services h1 {
		transform: translate(0%, -170%);
	}
	.food h1 {
		transform: translate(0%, -150%);
	}
	.cylces h1 {
		transform: translate(0%, -140%);
	}
}
