.signin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%; /* Take the full width */
    font-size: 3vh;
  }

  .signin-box {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 50px; /* Increased padding */
    border-radius: 20px; /* Increased border-radius */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Increased box-shadow */
    width: 550px; /* Increased width */
    text-align: center;
  }

  .signin-box h2 {
    margin-bottom: 30px; /* Increased margin-bottom */
    font-size: 24px; /* Increased font-size */
  }

  .input-container {
    text-align: left; /* Align label and input to the left */
    margin-bottom: 20px;
  }

  .input-container label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
  }

  .input-container input {
    width: 100%;
    padding: 15px; /* Increased padding */
    margin-top: 5px; /* Added space between label and input */
    box-sizing: border-box;
    border: 2px solid #fff; /* Increased border thickness */
    border-radius: 10px; /* Increased border-radius */
    font-size: 16px; /* Increased font-size */
  }

  .signin-box button {
    width: 100%;
    padding: 15px; /* Increased padding */
    box-sizing: border-box;
    border: none;
    border-radius: 10px; /* Increased border-radius */
    background: #4285f4;
    color: #fff;
    cursor: pointer;
    font-size: 18px; /* Increased font-size */
    transition: background 0.3s ease; /* Added hover effect */
  }

  .signin-box button:hover {
    background: #3367d6; /* Darker color on hover */
  }

  .heading{
    font-size: 4vh;
  }