.main {
  font-size: 1.8vw !important;
}
.column1,
.column2 {
  font-size: 1.3vw !important;
}
.main h1 {
  transform: translate(0%, -190%) !important;
}
.column2 > a > h1 {
  transform: translate(0%, -210%) !important;
  width: 90%;
  text-align: center;
}
.column1 > a > h1 {
  transform: translate(0%, -125%) !important;
  width: 60%;
  text-align: center;
}
