@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Handlee&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.main {
	min-height: 80vh;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
}

.profile-wrapper {
	padding: 40px 0;
	font-family: "montserrat", sans-serif;
}

.admin-btn {
	display: flex;
	align-items: center;
	padding: 20px 40px 20px 20px;
	background: rgba(0, 0, 0, 0.55);
	border-top-right-radius: 4vw;
	border-bottom-right-radius: 4vw;
	text-decoration: none;
	color: #fef0df;
	font-size: 2.6vw;
	text-wrap: nowrap;
	cursor: pointer;
}

.no-admin-btn {
	text-align: center;
	padding: 20px 40px 20px 20px;
	font-size: 2.6vw;
	visibility: hidden;
}

.title-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0 40px 0;
}

.title-bar h1 {
	font-family: "Handlee", cursive;
	font-size: 4vw;
	color: #603d30;
	font-weight: 600;
	text-align: center;
}

.sign-out-btn {
	display: flex;
	align-items: center;
	padding: 20px 20px 20px 30px;
	background: rgba(0, 0, 0, 0.55);
	border-top-left-radius: 4vw;
	border-bottom-left-radius: 4vw;
	color: #fef0df;
	font-size: 2.6vw;
	text-wrap: nowrap;
	cursor: pointer;
}

.profile {
	display: grid;
	grid-template-columns: 1.7fr 2.3fr;
	width: 100%;
	padding: 30px 0;
}

.profile-img {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-img img {
	width: 60%;
	height: auto;
}

.profile-btns {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.btn {
	display: flex;
	align-items: center;
	padding: 20px;
	background: rgba(0, 0, 0, 0.55);
	border-top-left-radius: 4vw;
	border-bottom-left-radius: 4vw;
	cursor: pointer;
	margin: 10px 0;
}

.btn img {
	height: 2.6vw;
	width: auto;
	margin: 0 20px;
}

.btn p {
	color: #fef0df;
	margin-right: 28vw;
	font-size: 2.6vw;
	text-wrap: nowrap;
}

@media (max-width: 1000px) {
	.profile {
		grid-template-columns: 1fr;
	}
	.admin-btn {
		font-size: 3vw;
	}
	.sign-out-btn {
		font-size: 3vw;
	}
	.profile-img {
		padding: 20px;
	}
	.profile-img img {
		width: 40%;
	}
	.profile-btns {
		align-items: center;
	}
	.title-bar {
		padding: 20px 0 20px 0;
	}
	.title-bar h1 {
		font-size: 5vw;
	}
	.btn {
		border-radius: 4vw;
		justify-content: center;
		padding: 20px 10vw;
	}
	.btn img {
		height: 3vw;
	}
	.btn p {
		margin: 0;
		font-size: 3vw;
	}
}

@media (max-width: 768px) {
	.profile-wrapper {
		padding: 20px 0;
	}
	.admin-btn {
		font-size: 4vw;
		padding: 20px 30px 20px 20px;
		border-top-right-radius: 5vw;
		border-bottom-right-radius: 5vw;
	}
	.no-admin-btn {
		padding: 20px 30px 20px 20px;
		font-size: 5vw;
	}
	.title-bar {
		padding: 20px 0 0 0;
	}
	.title-bar h1 {
		font-size: 6vw;
	}
	.sign-out-btn {
		font-size: 4vw;
		padding: 20px 20px 20px 30px;
		border-top-left-radius: 5vw;
		border-bottom-left-radius: 5vw;
	}
	.btn {
		border-radius: 5vw;
	}

	.btn img {
		height: 4vw;
	}

	.btn p {
		font-size: 4vw;
	}
}

@media (max-width: 480px) {
	.profile-wrapper {
		padding: 10px 0;
	}
	.admin-btn {
		font-size: 5vw;
		padding: 10px 20px 10px 10px;
		border-top-right-radius: 6vw;
		border-bottom-right-radius: 6vw;
	}
	.no-admin-btn {
		padding: 20px 30px 20px 20px;
		font-size: 5vw;
	}
	.title-bar h1 {
		font-size: 9vw;
	}
	.sign-out-btn {
		font-size: 5vw;
		padding: 10px 10px 10px 20px;
		border-top-left-radius: 6vw;
		border-bottom-left-radius: 6vw;
	}
	.profile-img {
		padding: 10px;
	}
	.btn {
		border-radius: 6vw;
		padding: 10px 6vw;
	}

	.btn img {
		height: 5vw;
	}

	.btn p {
		font-size: 5vw;
	}
}

/*   personal info   */
.personal-info-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 80vh;
	padding: 20px 0;
}

.personal-info-wrapper h1 {
	font-family: "Handlee", cursive;
	font-size: 4vw;
	color: #603d30;
	font-weight: 600;
	text-align: center;
	margin: 30px 0;
}

.personal-info-wrapper img {
	width: 80%;
	height: auto;
	border-radius: 10px;
}

.personal-info {
	display: flex;
	flex-direction: column;
	font-family: "montserrat", sans-serif;
	justify-content: space-between;
	padding: 40px 60px;
	width: 80%;
	margin: 20px 0;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.7);
	color: #fcddbb;
}

.personal-info p {
	font-size: 2.2vw;
	margin: 10px 0;
	color: #fef0df;
	letter-spacing: 2px;
}

.personal-info p span {
	font-size: 2.5vw;
	font-weight: 600;
	color: #ffe8cc;
}

@media (max-width: 768px) {
	.personal-info {
		padding: 20px 40px;
	}
}

@media (max-width: 480px) {
	.personal-info-wrapper h1 {
		font-size: 8vw;
		margin: 20px 0;
	}
	.personal-info {
		padding: 10px 20px;
	}
	.personal-info p {
		font-size: 3.6vw;
	}
	.personal-info p span {
		font-size: 3.4vw;
	}
}

/*  event details  */
.event-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 80vh;
	padding: 20px 0;
}

.event-details h1 {
	font-family: "Handlee", cursive;
	font-size: 4vw;
	color: #603d30;
	font-weight: 600;
	text-align: center;
	margin: 30px 0;
}

@media (max-width: 768px) {
	.event-details h1 {
		font-size: 5vw;
		margin: 20px 0;
	}
}

/* Accomodation Info */
.acco-info {
	display: grid;
	grid-template-columns: 1.6fr 2.4fr;
	align-items: center;
}

.acco-img {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.acco-img img {
	border-radius: 10px;
	width: 90%;
	margin: 20px auto;
}

.acco-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px 60px;
	width: 90%;
	margin: 0 auto;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.7);
	font-family: "montserrat", sans-serif;
	color: #fcddbb;
}

.acco-text p {
	font-size: 2vw;
	margin: 10px 0;
	color: #fef0df;
	letter-spacing: 2px;
}

.acco-text p span {
	font-size: 2.2vw;
	font-weight: 600;
	color: #ffe8cc;
}

@media (max-width: 1000px) {
	.acco-info {
		grid-template-columns: 1fr;
	}
	.acco-text {
		padding: 20px 40px;
	}
}

@media (max-width: 768px) {
	.acco-text {
		padding: 20px 40px;
	}
	.acco-text p {
		font-size: 3vw;
	}
	.acco-text p span {
		font-size: 3.2vw;
	}
}

@media (max-width: 480px) {
	.acco-text {
		padding: 10px 20px;
	}
	.acco-text p {
		font-size: 4vw;
	}
	.acco-text p span {
		font-size: 4.2vw;
	}
}
