.back-button {
  position: absolute;
  margin: 30px;
  height: 50px;
  z-index: 2;
}

@media screen and (max-width: 1000px) {
  .back-button {
    margin: 10px;
    width: 30px;
    height: 30px;
  }
}

.back-button:hover {
  transform: scale(1.2); /* Enlarge the button on hover */
  transition-duration: 0.7s ease-in;
}