.back-button {
  position: absolute;
  margin: 30px;
  height: 50px;
  z-index: 2;
  transition: transform 0.2s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .back-button {
    margin: 10px;
    width: 30px;
    height: 30px;
  }
}

.back-button:hover {
  transform: scale(1.1);
}
