/* components/ErrorPage.module.css */
.container {
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
    /* background-color: #f8f8f8; */
    /* border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .heading {
    color: #d9534f;
    font-size: 2em;
    margin: 0;
  }
  
  .message {
    color: #333;
    font-size: 1.2em;
    margin: 20px 0;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #500000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #000000;
  }
  