.footer {
	width: 100%;
	background: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-logo {
	height: 150px;
	width: auto;
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}

.nav-link {
	color: #fff;
	text-decoration: none;
	font-size: 2.5rem;
	margin: 0px 25px;
	text-align: center;
}

.footer-socials {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.footer-socials a {
	color: #fff;
	text-decoration: none;
	font-size: 2.5rem;
	margin: 0px 20px;
}

@media (max-width: 1000px) {
	.footer-logo {
		height: 100px;
		width: auto;
	}
	.footer-nav {
		flex-direction: column;
		gap: 20px;
		margin: 20px 0px;
	}
	.nav-link {
		font-size: 1.5rem;
		margin: 0px 10px;
	}

	.footer-socials {
		grid-template-columns: repeat(2, 1fr);
	}

	.footer-socials a {
		font-size: 1.5rem;
		margin: 0px 10px;
	}
}
