.drop-down {
	width: 40%;
	background: rgb(254, 240, 223);
	border-radius: 20px;
	padding: 15px;
	font-size: 30px;
	font-weight: 200;
	margin: 40px;
}
@media screen and (max-width: 768px) {
	.drop-down {
		width: 60%;
		padding: 10px;
		font-size: 20px;
	}
}

.table-container {
	max-height: 80vh;
	overflow-y: scroll;
	width: 80%;
}

.table-container::-webkit-scrollbar {
	width: 0.5rem;
}

.table-container::-webkit-scrollbar-track {
	background: #00000000;
}

.table-container::-webkit-scrollbar-thumb {
	background: #604338e5;
	border-radius: 10px;
}
