.drop-down {
	width: 40%;
	background: rgb(254, 240, 223);
	border-radius: 20px;
	padding: 15px;
	font-size: 30px;
	font-weight: 200;
	margin: 40px;
}
@media screen and (max-width: 768px) {
	.drop-down {
		width: 60%;
		padding: 10px;
		font-size: 20px;
	}
}
