.modelFrame {
  width: 80%;
  height: 50rem;
  margin: 20px 10%;
}

@media screen and (max-width: 464px) {
  .modelFrame {
    width: 90%;
    height: 20rem;
    margin: 20px 5%;
  }
}

.toggle-button {
  display: flex;
  margin-top: 20px;
}

.disabledCheck {
  visibility: hidden;
}

@keyframes toggleAnimateOn {
  0% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(50%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes toggleAnimateOff {
  0% {
    transform: translate(-200%, 0);
  }
  50% {
    transform: translate(-140, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}
.toggle {
  margin-top: -30px;
  display: inline-block;
  line-height: 12px;
  width: 75px;
  padding: 5px 30px 5px 10px;
  background-color: #ededed;
  color: #707070;
  border-radius: 15px;
  border: 1px #aaa solid;
  box-shadow: 1;
  height: 24px;
  position: relative;
  top: 30px;
  right: 5px;
  cursor: pointer;
  font-size: 12px;
  -moz-box-shadow: inset 0 0 5px #ccc;
  -webkit-box-shadow: inset 0 0 5px #ccc;
  box-shadow: inset 0 0 5px #ccc;
}
.toggle:after {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: #707070;
}
.toggle.on {
  display: none;
  padding: 5px 10px 5px 30px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
}
.toggle.on:after {
  left: 3px;
  animation: toggleAnimateOn 0.5s ease forwards normal;
  background-color: green;
}
.toggle.on {
  padding: 5px 10px 5px 30px;
}
.toggle.off:after {
  animation: toggleAnimateOff 0.5s ease backwards normal;
  background-color: red;
}
.toggle-button input[type="checkbox"]:checked ~ .on {
  display: inline-block;
}
.toggle-button input[type="checkbox"]:checked ~ .off {
  display: none;
}
