.table {
	background: rgba(0, 0, 0, 0.55);
	border-radius: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 80%;
	margin: 0 auto;
}

.tr {
	height: fit-content;
	width: 100%;
	background: #fef0df;
	border-radius: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 20px;
	justify-content: space-between;
}

.th {
	color: #603d30;
	font-size: 3rem;
	font-weight: 400;
}

.td {
	font-size: 2rem;
	font-weight: 400;
}

@media (max-width: 1000px) {
	.table {
		padding: 10px;
		border-radius: 15px;
	}
	.tr {
		padding: 10px;
		border-radius: 15px;
	}
	.th {
		font-size: 30px;
	}
	.td {
		font-size: 25px;
	}
}

@media (max-width: 500px) {
	.table {
		border-radius: 10px;
	}
	.tr {
		border-radius: 10px;
	}
	.th {
		font-size: 20px;
	}
	.td {
		font-size: 15px;
	}
}
