.faq-section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.faq-heading {
	font-size: 6vw;
	padding: 30px 0;
	color: #000;
}

.faq-wrapper {
	width: 80%;
	list-style: none;
}

.ques-wrapper {
	padding: 25px;
	margin-bottom: 40px;
	background-color: #f0d8c0c9;
	border-radius: 10px;
	cursor: pointer;
}

.ques {
	font-size: 2vw;
	font-weight: 600;
	color: #000;
	cursor: pointer;
}

.ans {
	overflow: hidden;
	transition: all 0.6s ease-in-out;
	font-size: 1.5vw;
	font-weight: 300;
	line-height: 28px;
	color: #000;
}

@media (min-width: 1400px) {
	.faq-heading {
		font-size: 5vw;
	}
	.ques {
		font-size: 1.5vw;
	}
	.ans {
		font-size: 1.2vw;
	}
}

@media (max-width: 1000px) {
	.ques {
		font-size: 2.5vw;
	}
	.ans {
		font-size: 2vw;
		line-height: 28px;
	}
}

@media (max-width: 700px) {
	.ques-wrapper {
		padding: 18px;
		margin-bottom: 25px;
	}
	.ques {
		font-size: 3vw;
	}
	.ans {
		font-size: 2.8vw;
		line-height: 18px;
	}
}
