@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

.faq-section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.faq-heading {
	font-size: 4rem;
	font-family: "Cookie", cursive;
	padding: 30px 0;
	color: #000;
}

.faq-wrapper {
	width: 80%;
	list-style: none;
}

.ques-wrapper {
	padding: 25px;
	margin-bottom: 40px;
	background-color: #f0d8c0c9;
	border-radius: 10px;
	cursor: pointer;
}

.ques {
	font-size: 40px;
	color: #000;
	cursor: pointer;
}

.ans {
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	font-size: 30px;
	margin: 5px 0;
	color: #000;
}

@media (max-width: 1200px) {
	.ques {
		font-size: 34px;
	}
	.ans {
		font-size: 26px;
	}
}

@media (max-width: 768px) {
	.ques {
		font-size: 28px;
	}
	.ans {
		font-size: 20px;
	}
}

@media (max-width: 480px) {
	.ques {
		font-size: 26px;
	}
	.ans {
		font-size: 18px;
	}
}
