.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	padding: 40px;
	-webkit-tap-highlight-color: transparent;
}

.heading {
	color: #603d30;
	font-size: 6rem;
	font-weight: 400;
	word-wrap: break-word;
	margin: 40px 10px 20px 10px;
	text-align: center;
}

.description {
	color: #603d30;
	margin: 0 10px 20px 10px;
	width: 70%;
}

.description p {
	font-size: 2.6rem;
	font-weight: 300;
}

.description ul li {
	font-size: 2.6rem;
	font-weight: 300;
}

@media (max-width: 768px) {
	.main {
		padding: 0 0 20px 0;
	}
}

@media (max-width: 1000px) {
	.heading {
		font-size: 5rem;
	}
}
