@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Handlee&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.main {
	min-height: 100vh;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.heading {
	color: #603d30;
	font-family: "Handlee", cursive;
	font-size: 4rem;
	font-weight: 600;
	word-wrap: break-word;
	margin: 20px 0 0 0;
	text-align: center;
}

.description {
	color: #603d30;
	font-family: "Handlee", cursive;
	font-size: 2rem;
	font-weight: 300;
	margin: 10px 0 20px 0;
	text-align: center;
	width: 70%;
}

.description a {
	text-decoration: none;
	cursor: pointer;
}

@media (max-width: 1170px) {
	.heading {
		font-size: 4rem;
	}
	.description {
		font-size: 2rem;
	}
}

.restaurant-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	list-style: none;
	width: 80%;
}

.restaurant {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	padding: 20px;
	margin-bottom: 30px;
	background-color: #e6c79f;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.restaurant-box img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 15px;
}

.restaurant-box {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 10px;
	align-items: center;
	justify-content: center;
}

.restaurant-info {
	width: 100%;
	padding: 0 30px;
	border-radius: 15px;
	margin-left: 20px;
}

.restaurant-info h2 {
	color: #603d30;
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 10px;
}

.restaurant-info a {
	text-decoration: none;
}

.restaurant-info h2 i {
	font-size: 2rem;
}

.restaurant-info p {
	color: #603d30;
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 10px;
}

.restaurant-info ul li {
	color: #603d30;
	margin-bottom: 10px;
	font-size: 1.6rem;
	font-weight: 400;
	margin-right: 10px;
}

@media (max-width: 1170px) {
	.heading {
		font-size: 3rem;
	}
	.description {
		font-size: 1.8rem;
	}
	.restaurant {
		width: 60%;
	}
	.restaurant-box {
		grid-template-columns: 1fr;
	}
	.restaurant-info {
		padding: 0 10px;
		margin-left: 0;
	}
	.restaurant-info h2 {
		font-size: 1.6rem;
	}
	.restaurant-info p {
		font-size: 1.4rem;
	}
	.restaurant-info ul li {
		margin-bottom: 0;
		font-size: 1.4rem;
	}
}

@media (max-width: 768px) {
	.restaurant {
		width: 80%;
	}
	.restaurant-info h2 {
		font-size: 1.4rem;
	}
	.restaurant-info h2 i {
		font-size: 1.4rem;
	}
	.restaurant-info p {
		font-size: 1.2rem;
	}
	.restaurant-info ul li {
		font-size: 1.2rem;
	}
}

@media (max-width: 480px) {
	.heading {
		font-size: 2rem;
	}
	.description {
		font-size: 1.4rem;
	}
	.restaurant {
		width: 100%;
	}
}
