@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

.main-wrapper {
	display: flex;
	justify-content: center;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	width: 90%;
	padding: 40px 30px;
}

.heading {
	align-self: flex-end;
	font-size: 4vw;
	color: #fcddbb;
	padding: 1rem 2rem;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.7);
}

.rulebook-wrapper {
	padding: 40px 60px;
	width: 100%;
	margin: 20px 0;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.7);
	color: #fcddbb;
}

.event-name {
	font-size: 3.8vw;
	font-weight: 600;
	margin-bottom: 10px;
	letter-spacing: 3px;
}

.rulebook-wrapper h2 {
	font-size: 3vw;
	margin: 22px 0 5px 0;
	letter-spacing: 2px;
}

.rulebook-wrapper li {
	font-size: 2.6vw;
	margin-bottom: 5px;
	margin-left: 20px;
}

.rulebook-wrapper li p {
	margin-left: 10px;
}

.rulebook-wrapper p {
	font-size: 2.6vw;
	margin-bottom: 5px;
	letter-spacing: 1px;
}

.event-img {
	width: 60%;
	height: auto;
	object-fit: cover;
	border-radius: 15px;
}

.judge-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	width: 100%;
	margin: 20px 0;
}

.judge-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	padding: 20px 20px 10px 20px;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.7);
	max-width: 450px;
	align-self: center;
}

.judge-card img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 10px;
}

.judge-card h3 {
	font-size: 2.6vw;
	letter-spacing: 1px;
	margin: 20px 0 10px 0;
}

@media (min-width: 1200px) {
	.event-name {
		font-size: 3.6vw;
	}
	.rulebook-wrapper h2 {
		font-size: 2.8vw;
	}
	.rulebook-wrapper p {
		font-size: 2.4vw;
	}
	.rulebook-wrapper li {
		font-size: 2.4vw;
		margin-left: 28px;
	}
	.judge-card h3 {
		font-size: 2vw;
	}
}

@media (max-width: 1000px) {
	.main {
		padding: 20px 10px;
	}
	.rulebook-wrapper {
		padding: 30px 50px;
	}
	.event-name {
		font-size: 3.8vw;
	}
	.rulebook-wrapper h2 {
		margin: 14px 0 5px 0;
		font-size: 3vw;
	}
	.rulebook-wrapper p {
		font-size: 2.6vw;
	}
	.rulebook-wrapper li {
		font-size: 2.6vw;
	}
	.judge-card h3 {
		font-size: 3vw;
	}
}

@media (max-width: 768px) {
	.main {
		padding: 15px 5px;
	}
	.heading {
		font-size: 6vw;
	}
	.rulebook-wrapper {
		padding: 15px 30px;
	}
	.event-name {
		font-size: 5.2vw;
	}
	.rulebook-wrapper h2 {
		margin: 14px 0 5px 0;
		font-size: 4.4vw;
	}
	.rulebook-wrapper p {
		font-size: 3.8vw;
	}
	.rulebook-wrapper li {
		font-size: 3.8vw;
	}
	.judge-card h3 {
		font-size: 4vw;
	}
}
