* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body {
	font-size: 16px;
	max-width: 100vw;
}

body::-webkit-scrollbar {
	width: 1rem;
}

body::-webkit-scrollbar-track {
	background: #a5510640;
}

body::-webkit-scrollbar-thumb {
	background: #603d30;
	border-radius: 10px;
}
