/* @import url("https://fonts.googleapis.com/css2?family=Cookie&family=Handlee&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
.heading {
  color: #603d30;
  font-size: 3rem;
  font-weight: 600;
  word-wrap: break-word;
  margin: 40px 10px 20px 10px;
  text-align: center;
}
@media (max-width: 1000px) {
  .heading {
    font-size: 2.5rem;
    margin: 60px 10px 20px 10px;
  }
}
@media (max-width: 480px) {
  .heading {
    font-size: 2.2rem;
  }
}
.map {
  height: auto;
  width: 80%;
  margin: 0 10% 5% 10%;
}
.head2 {
  display: block;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .head2 {
    display: none;
  }
}
